<html>
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    	<meta name="mobile-web-app-capable" content="yes">
    	<meta name="apple-mobile-web-app-capable" content="yes">

    	<meta name="description" content="Belong: place for neighbors to hangout">

    	<meta name="twitter:card" content="summary" />
        {{#if this.thread}}
            <meta name="twitter:title" content="{{this.thread}}">
        {{else}}
            <meta name="twitter:title" content="{{this.room}} on belong">
        {{/if}}
    	<meta name="twitter:description" content="Belong: place for neighbors to hangout">
    	<meta name="twitter:image" content="https://heyneighbor.chat/s/assets/Preview-logo-image.png">

    	<meta property="og:type" content="website" />
    	<meta property="og:site_name" content=belong />
        {{#if this.thread}}
            <meta property="og:title" content="{{this.thread}}">
        {{else}}
            <meta property="og:title" content="{{this.room}} on belong">
        {{/if}}

    	<meta property="og:description" content="Belong: place for neighbors to hangout">
        <title> Belong: place for neighbors to hangout </title>
    </head>
    <body>
        <script>
            location.href = "{{{this.link}}}"
        </script>
    </body>
</html>
