<html>
<body>
  <table class="container" style="border: 0.25em;border-width: medium;border-color: black;border-collapse: collapse;max-width: 600px;margin: 10px auto;padding: 10px;">
    <tr><td class="logo" colspan="2" style="text-align: center;padding-bottom: 10px;">
      <img alt="Belong" src="https://raw.githubusercontent.com/RahulKondi/belongemail/master/img/belong.png" style="width:144px; height:54px;">
    </td></tr>
    <tr><td class="hero" colspan="2" style="background: #ff1144;padding: 30px 50px;text-align: left;max-width: 400px;font-size: 1.5em;color: white;margin: 0 auto;border-radius: 3px;box-shadow: 2px 2px 2.5px #e6e6e6;text-shadow: 2px 2px #e42c5;">
      <div>
        <p><b>There ought to be a better way to start the day than by getting out of bed.</b></p>
        <p>Here's some fun chatter for you to catch up with.</p>
      </div>
    </td></tr>
    <tr><td class="heading" colspan="2" style="font-size: 2em;padding: 50px 0px 0px 6px;">
      Discussions trending today
    </td></tr>
    {{#each threads}}
    {{#if this.indexFourth}}
    <tr><td class="heading" colspan="2" style="font-size: 2em;padding: 50px 0px 0px 6px;">
      More Discussions
    </td></tr>
    {{/if}}

    <tr>
      <td>
        <div class="container" style="margin: 10px auto;padding: 10px;">
          <div class="card" style="float: right;width: 525px;">
            <div class="discussion-title" style="font-weight: bold;font-size: 1.2em;">{{this.threadtitle}}</div>
            <div>
              {{#if this.showBody}}
              {{#if this.photo}}
              <div class="message-body-image" style="height: 200px;max-width: 500px;background-image: url({{this.photo}})"></div>
              {{/if}}
              {{#unless this.photo}}
              <div class="message-body" style="margin: 5px auto;font-size: 1.1em;color: #4d4d4d;line-height: 1.25em;">{{this.body}}</div>
              {{/unless}}
              {{/if}}
              <span class="card-footer" style="margin-top: 15px;display: inline-block;color: #888888;">
                <span class="inline-blocks creator" style="margin-right: 20px;display: inline-block;vertical-align: middle;padding-right: 6.75px;">
                  <span class="inline-blocks" style="display: inline-block;vertical-align: middle;padding-right: 6.75px;"> <img class="dp" src="/i/picture?user={{this.creator}}&size=48" alt="⇣" style="border-radius: 50%;float: left;width: 24px;height: 24px;"> </span>
                  <span class="inline-blocks" style="display: inline-block;vertical-align: middle;padding-right: 6.75px;"> <b>{{this.creator}}</b> </span>
                </span>
                <span class="inline-blocks location" style="margin-right: 20px;display: inline-block;vertical-align: middle;padding-right: 6.75px;">
                  <span class="inline-blocks" style="display: inline-block;vertical-align: middle;padding-right: 6.75px;">
                    <img src="http://s.bel.ng/s/location.png">

                  </span>
                  <span class="inline-blocks" style="display: inline-block;vertical-align: middle;padding-right: 6.75px;">{{this.roomname}}</span>
                </span>
                <span class="inline-blocks likes" style="margin-right: 20px;display: inline-block;vertical-align: middle;padding-right: 6.75px;">
                  <span class="inline-blocks" style="display: inline-block;vertical-align: middle;padding-right: 6.75px;">
                    <img class="img-heart" src="http://s.bel.ng/s/heart.png" style="width: 16px;height: 14.170px;">
                  </span>
                  <span class="inline-blocks" style="display: inline-block;vertical-align: middle;padding-right: 6.75px;">{{this.upvote}} Likes</span>
                </span>
                <span class="inline-blocks" style="display: inline-block;vertical-align: middle;padding-right: 6.75px;">
                  <a href="{{../this.domain}}/{{this.roomid}}/{{this.threadid}}{{../this.link}}" style="text-decoration: none;">
                    <button class="read-button" style="background: #ff1144;border-radius: 2px;box-shadow: 2px 2px 2.5px #e6e6e6;text-shadow: 2px 2px #e42c5;padding: 10px;text-align: center;min-width: 100px;font-size: 1em;font-weight: bold;color: white;display: block;appearance: none;-webkit-appearance: none;-moz-appearance: none;border: 0;vertical-align: middle;">Read more
                    </button>
                  </a>
                </span>
              </span>
            </div></div></div></td>
          </tr>
          {{/each}}

        <td class="footer" colspan="2" style="max-width: 600px;margin: 0px 10px;padding-top: 100px;font-size: 0.75em;color: #4d4d4d;">
          <b>&copy; Belong</b> Your friendly neighborhood, #43, KR Garden, Murugeshpalya, Bangalore, Karnataka, 560017
          <p>Ignorance is bliss? <a href="{{domain}}/r/unsubscribe?email={{token}}" style="color:#6644bb; text-decoration: none"> Unsubscribe</a> </p>
        </td>


    </table>
  </body>
  </html>
