{{#if thread}}
    <div class="discussion-container">
        <div class="profile-picture">
            <img class="dp" src="{{user.picture}}" />
        </div>
        <div class="discussion-card">
            <div class="stamp"><b>{{user.id}}</b> started a discussion on Belong</div>
            <h2 class="discussion-title">{{thread.name}}</h2>
            <p class="message-body">{{thread.body}}</p>
            <span class="card-footer">
                <span class="inline-blocks location">
                    <span class="inline-blocks">
                        <svg class='icon' xmlns="http://www.w3.org/2000/svg" width="17.067" height="34.133"
                            viewBox="0 0 15.999999 31.999999"><g fill="#64b"><path d="M12.418 10.669a4.76 4.76 0 0 0-1.024-1.52 4.76 4.76 0 0 0-3.38-1.4 4.75 4.75 0 0 0-3.381 1.4 4.759 4.759 0 0 0-1.401 3.38c0 1.084.767 2.831 2.279 5.192 1.109 1.73 2.233 3.179 2.244 3.193l.258.332.258-.332a48.12 48.12 0 0 0 2.244-3.193c1.513-2.36 2.28-4.108 2.28-5.191 0-.645-.127-1.271-.377-1.861zm-4.405 3.5a1.853 1.853 0 1 1 0-3.706 1.853 1.853 0 0 1 0 3.707z"/><path d="M15.293 19.55c-.416-.382-1.004-.722-1.746-1.01a12.055 12.055 0 0 0-2.062-.58c-.115.19-.235.384-.36.582.806.143 1.547.341 2.19.591 1.3.506 2.047 1.167 2.047 1.814 0 .648-.746 1.309-2.046 1.814-1.415.55-3.303.853-5.316.853s-3.901-.303-5.316-.853c-1.3-.505-2.046-1.166-2.046-1.814 0-.647.746-1.308 2.046-1.814a11.947 11.947 0 0 1 2.355-.62 38.137 38.137 0 0 1-.361-.583c-.815.148-1.568.353-2.225.609-.742.288-1.33.629-1.746 1.011-.47.431-.707.901-.707 1.397s.238.966.707 1.397c.416.383 1.004.723 1.746 1.011 1.487.578 3.457.896 5.547.896s4.06-.318 5.547-.896c.742-.288 1.33-.628 1.746-1.011.469-.431.707-.901.707-1.397s-.238-.965-.707-1.397z"/></g></svg>
                    </span>
                    <span class="inline-blocks">{{room.name}}</span>
                </span>
                <span class="inline-blocks likes">
                    <span class="inline-blocks">
                        {{#if thread.counts.upvote}}
                            <svg class='icon' xmlns="http://www.w3.org/2000/svg" width="17.067" height="34.133"
                                viewBox="0 0 15.999999 31.999999"><g fill-rule="evenodd"><path d="M14.679 16.803l-3.515 3.59-2.11 2.152a1.47 1.47 0 0 1-2.109 0l-2.109-2.153-3.516-3.589c-1.746-1.782-1.746-4.674 0-6.457a4.412 4.412 0 0 1 6.329 0l.351.36.352-.36a4.41 4.41 0 0 1 6.327 0c1.748 1.784 1.748 4.675 0 6.457zm-.721-5.751a3.412 3.412 0 0 0-4.913 0L7.993 12.13l-1.053-1.08a3.413 3.413 0 0 0-4.913 0 3.623 3.623 0 0 0 0 5.036l3.51 3.598 2.105 2.158a.49.49 0 0 0 .702 0l2.807-2.879 2.806-2.877a3.623 3.623 0 0 0 0-5.035zm-.997 2.746a1.498 1.498 0 0 0-1.761-1.763l-.097-.49a1.997 1.997 0 0 1 2.347 2.35l-.489-.097z" clip-rule="evenodd" fill="#f14"/><path style="isolation:auto;mix-blend-mode:normal" d="M4.815 18.906C3.189 17.24 1.736 15.69 1.587 15.46c-.427-.654-.63-1.632-.498-2.4.213-1.245.837-2.115 1.886-2.631.602-.296.744-.326 1.556-.324.788.004.956.035 1.437.286.3.156.881.611 1.292 1.01l.748.728.681-.687c.375-.378.952-.834 1.283-1.013.553-.3.672-.326 1.492-.326.757 0 .975.04 1.45.262 1.033.484 1.73 1.413 1.967 2.623.142.719.014 1.497-.367 2.252-.345.683-6.198 6.697-6.517 6.697-.166 0-1.01-.803-3.182-3.03zm8.68-5.44c0-.852-.61-1.642-1.46-1.888-.631-.184-.918-.117-.918.215 0 .214.043.241.382.241.698 0 1.383.643 1.426 1.337.014.237.084.423.173.463.328.149.396.085.396-.369z" color="#000" overflow="visible" opacity=".921" fill="#f14" stroke="#f14" stroke-width=".369" stroke-linecap="round" stroke-linejoin="round"/><path style="isolation:auto;mix-blend-mode:normal" d="M13.301 13.853a2.56 2.56 0 0 0-.182-.046c-.124-.027-.133-.046-.133-.302 0-.82-.595-1.444-1.427-1.498l-.356-.024-.033-.195c-.018-.107-.019-.209 0-.226.06-.059.657-.023.93.056.353.103.819.445 1.023.754.22.331.363.825.344 1.185-.014.272-.048.334-.164.296z" color="#000" overflow="visible" opacity=".921" fill="#fff" stroke="#f14" stroke-width=".05" stroke-linecap="round" stroke-linejoin="round"/></g></svg>
                            <span class="inline-blocks">{{thread.counts.upvote}} people like this</span>
                        {{/if}}
                    </span>
                </span>
                <p class="join-button-container">
                    <a class="join-button" href='{{playstore}}'>Join discussion
                        <svg class='arrow' xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                            <path d="M8.145.682C6.918.58 5.785 2.214 6.947 3.25L10.5 6.416H1.393c-1.856 0-1.856 3.1 0 3.1h9.183L6.947 12.75c-1.43 1.275.616 3.454 2.033 2.191l6.254-5.572c.439-.223.766-.671.766-1.336v-.066c0-.664-.326-1.113-.764-1.336L8.98 1.059a1.424 1.424 0 0 0-.835-.377z"
                                fill="#fff" />
                        </svg>
                    </a>
                </p>
                <span class="share">
                    <h3 class='share-title'>Share on</h3>
                    <span class="social">
                        <a target='_blank' class='share-link' href="{{twitter}}">
                            <svg class='share-icon' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.999524 64.000004" height="68.267" width="68.266"><path d="M60.467 64A3.533 3.533 0 0 0 64 60.468V3.532A3.532 3.532 0 0 0 60.467 0H3.532A3.532 3.532 0 0 0 0 3.532v56.936A3.532 3.532 0 0 0 3.532 64h56.935z" fill="#55acee"/><path d="M21.746 47.482c-2.612-.374-4.854-1.101-7.354-2.385l-1.512-.776 2.08-.084c2.304-.093 3.671-.373 5.59-1.144 1.203-.483 2.8-1.366 3.403-1.883l.41-.351-.39-.01c-.6-.01-2.23-.458-2.914-.805-.957-.485-2.105-1.404-2.674-2.142-.513-.664-1.278-2.044-1.281-2.309-.001-.092.324-.118.981-.08.54.031 1.32-.013 1.734-.099l.75-.156-.695-.215c-1.245-.385-2.282-1.025-3.282-2.024-1.387-1.385-2.072-2.832-2.324-4.913-.076-.621-.063-.67.145-.582 1.012.431 1.957.712 2.61.776l.774.076-.605-.479c-1.713-1.357-2.867-3.82-2.867-6.12 0-1.063.336-2.584.753-3.4l.263-.517 1.165 1.219c1.368 1.43 2.51 2.388 4.045 3.388 2.945 1.92 6.735 3.254 10.083 3.55l.967.087-.069-1.259c-.131-2.376.642-4.488 2.22-6.07 3.044-3.05 7.523-3.205 10.909-.379l.6.501 1.168-.335a18.739 18.739 0 0 0 2.355-.897c.653-.309 1.213-.537 1.244-.506.11.11-.571 1.407-1.138 2.17a8.252 8.252 0 0 1-1.275 1.32c-.387.302-.68.573-.65.602.15.151 2.796-.543 4.04-1.06.193-.08.15.025-.186.457-.958 1.23-1.613 1.928-2.554 2.722l-.984.83v1.247c0 3.334-.958 7.042-2.675 10.35a21.587 21.587 0 0 1-3.702 5.155c-3.262 3.405-7.09 5.473-11.743 6.346-1.818.34-5.643.433-7.415.18z" style="isolation:auto;mix-blend-mode:normal" color="#000" overflow="visible" fill="#fff" fill-rule="evenodd"/></svg>
                        </a>
                    </span>
                    <span class="social">
                        <a target='_blank' class='share-link' href="{{facebook}}">
                            <svg class='share-icon' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.999524 64.000004" height="68.267" width="68.266"><defs><clipPath id="a"><path d="M0 500h1024V0H0v500z"/></clipPath></defs><g transform="matrix(.2398 0 0 -.2398 -29.627 92.908)" clip-path="url(#a)"><path d="M375.716 120.553c8.134 0 14.73 6.596 14.73 14.73v237.434c0 8.137-6.596 14.73-14.73 14.73H138.283c-8.137 0-14.73-6.593-14.73-14.73V135.283c0-8.134 6.593-14.73 14.73-14.73h237.433z" fill="#3b5998"/><path d="M307.705 120.553v103.355h34.693l5.194 40.28h-39.887v25.717c0 11.662 3.238 19.609 19.962 19.609l21.33.01v36.026c-3.69.49-16.351 1.587-31.081 1.587-30.753 0-51.806-18.771-51.806-53.244v-29.705h-34.781v-40.28h34.78V120.553h41.596z" fill="#fff"/></g></svg>
                        </a>
                    </span>
                </span>
            </span>
        </div>
    </div>
{{/if}}

<section class="top">
    <div class="container">
        <article class="right promo">
            Join your friendly
            <br>neighborhood group.
        </article>
        <article class="left screenshot">
            <img alt="Belong Screenshot" src="/s/assets//screenshot.png">
        </article>
    </div>
</section>
<section class="mid">
    <div class="container">
        <article class="right logo">
            <svg id="logo" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 375 120">
                <g id="layer1" transform="translate(-194.29 -406.65)">
					<g id="g6251" transform="matrix(1.636 0 0 1.636 -134.45 -134.59)">
						<path id="path4309" d="m213.33 350.78c1.476-0.25307 3.0433-0.44127 4.7759-0.45015 3.4331-0.0176 7.3157 0.57874 11.413 2.3166 15.314 6.5056 22.008 23.952 23.665 28.864 2.4345-3.4597 3.8646-7.5086 3.8646-11.857 0-12.612-13.743-22.899-25.321-22.871-11.577 0.0285-14.369 1.4991-18.398 3.9979z"
										fill="#64b" />
						<path id="path4307" d="m209.69 358.93c-2.2036 0.0498-3.8502 0.27017-4.9296 0.43916-2.1187 3.4358-3.4743 7.3833-3.8207 11.627 2.0353-0.51594 4.5499-0.96386 7.5042-0.97714 3.0865-0.0137 6.5805 0.43953 10.287 1.7621 12.915 4.6042 19.046 16.297 20.569 19.433 3.584-1.0751 6.8144-2.7918 9.5079-5.0065-1.9726-4.3566-4.7402-9.2827-8.7778-13.823-10.554-11.886-23.019-13.621-30.341-13.455z"
										fill="#f14" />
						<g fill="#64b">
							<path id="path58" d="m202.37 376.86c-0.46801-0.002-0.82559 0.0267-1.2516 0.0384 1.567 11.025 9.9378 19.861 20.739 22.079-1.5052-2.7397-2.5689-5.7598-3.0906-8.9589 3.5816 1.5787 7.6352 2.4703 11.929 2.4703 0.62053 0 1.2292-0.0403 1.839-0.0768-1.2247-1.7625-2.6361-3.5317-4.3368-5.226-8.7331-8.7226-19.252-10.298-25.828-10.326z"
							/>
							<path id="path98" d="m247.36 350.36c6.1114-0.5338 13.522-3.2241 14.496-8.6631 1.076-6.0098-3.3114-8.4035-4.7001-5.1733-1.6046 3.7323-0.36506 9.0474-9.7955 13.836z" clip-rule="evenodd" />
							<path id="path114" d="m242.74 347.79c4.8582-4.0706 6.657-9.2393 4.5985-13.826-2.0044-4.4664-7.1278-3.5836-6.6981-0.99546 0.49837 3.0012 6.2306 5.493 2.0995 14.822z" clip-rule="evenodd" />
						</g>
                </g>
                <path id="path4434" d="m328.08 432.46-20.514 1.3676 0.74169 52.464-0.84312 19.233 1.8003 1.9971 8.6689-2.6298c5.0739 1.7538 9.827 2.6298 14.27 2.6298 7.9648 0 14.236-2.3437 18.818-7.0394 4.17-4.2728 6.4458-10.262 6.821-17.958 0.20306 7.7538 2.6293 13.808 7.2806 18.166 4.9354 4.5554 11.805 6.8317 20.615 6.8317 5.1468 0 10.119-0.73381 14.91-2.2048l3.1665-13.871-1.4802-1.0545c-5.0763 1.6807-9.7983 2.5243-14.168 2.5243-3.384 0-5.9845-0.56623-7.8163-1.6872-1.7627-1.1216-2.9312-2.9441-3.4961-5.4672l26.222-0.2045 2.2188-2.6298c0.42227-2.2433 0.64025-4.5188 0.64025-6.8317 0-6.45-1.9035-11.499-5.7085-15.146-3.7346-3.6441-9.1682-5.4672-16.289-5.4672-8.0329 0-14.413 2.3207-19.135 6.9467-4.2217 4.1332-6.5215 9.7354-6.913 16.811-0.14346-7.1154-1.9017-12.718-5.2742-16.811-3.4562-4.3462-8.2861-6.5217-14.488-6.5217-3.8056 1.8241-7.1871 4.443-10.149 7.8766h-0.53567l0.6371-31.324zm98.017 0-20.514 1.3676 0.7417 52.461-0.95089 19.977h20.618l-0.84947-22.08 0.95406-51.726zm141.51 22.898-10.888 3.157c-2.6079-0.98132-4.7983-1.6828-6.5611-2.1025-1.762-0.49002-3.8348-0.73493-6.2315-0.73493-4.7232 0-8.9951 1.0116-12.802 3.0452-3.7359 1.9632-6.6975 4.9475-8.8845 8.9438-1.7329 3.2731-2.7409 7.1404-3.0524 11.59l0.27576-9.3656c0.1407-4.4866-1.1976-7.923-4.0159-10.305-2.7487-2.3831-6.7672-3.5724-12.054-3.5724-4.51 1.4713-8.6345 4.0638-12.371 7.7775h-0.73851v-7.3589l-19.56 1.3676 0.73852 28.49-0.95089 19.977h20.615l-0.84312-22.08v-10.618c1.691-0.98138 3.3455-1.4699 4.9668-1.4699 3.3117 0 4.97 2.1362 4.97 6.4131l-1.0586 27.755h20.618l-0.73851-22.08 0.0443-1.5018c0.0676 7.4401 1.925 13.372 5.5912 17.776 3.8057 4.4859 9.0871 6.7294 15.854 6.7294 2.9598-1.3306 5.7194-3.2515 8.2569-5.774h0.74171s0.31574 2.532-0.21555 4.3393c-0.53536 1.8108-1.687 4.9176-3.4866 6.0392-1.7956 1.1209-3.3483 1.5274-6.7323 1.5274-4.3673 0-7.6431-2.2689-12.095-5.7069l-1.6862 1.2622-2.4374 15.031c4.7941 1.4716 12.623 2.7352 17.769 2.7352 8.8109 0 15.682-2.2788 20.615-6.8348 4.8639-4.556 7.2901-10.972 7.2901-19.242l-0.20285-16.399 0.94454-27.857-1.6862-0.95221zm-119.85 5.9338c-8.5158 0.33762-16.192 6.1076-18.514 14.721-2.8565 10.603 3.4741 21.509 14.137 24.349 10.662 2.8414 21.631-3.4545 24.489-14.056 2.8572-10.603-3.4767-21.51-14.137-24.349-1.9991-0.53272-4.0096-0.74254-5.9748-0.66463zm-64.02 7.2375c3.1728 0 4.7481 1.8527 4.7481 5.5663l-0.20285 1.3676-11.633 0.63268c0.84518-5.0485 3.2106-7.5666 7.0873-7.5666zm160.61 0.70936c1.6213 0 3.241 0.34558 4.8622 1.0449l0.32013 16.191-0.11408 3.4797c-1.5483 1.4022-3.2047 2.1026-4.9668 2.1026-4.0872 0-6.1269-4.3434-6.1269-13.034 0-3.7866 0.41968-6.3473 1.2647-7.6816 0.84585-1.4015 2.4357-2.1026 4.7608-2.1026zm-212.99 2.8598c2.5387 0 4.3748 0.94347 5.5025 2.8375 1.127 1.8231 1.6862 4.665 1.6862 8.5188 0 4.206-0.63277 7.1834-1.9018 8.9342-1.2689 1.6836-3.1376 2.5275-5.6039 2.5275-1.1284 0-2.3964-0.21247-3.8067-0.63267l-0.111-10.621 0.21553-10.404c1.2662-0.77164 2.6116-1.1599 4.0191-1.1599z"
                    clip-rule="evenodd" fill="#64b" />
                </g>
            </svg>
            <a class="download" href="https://play.google.com/store/apps/details?id=chat.belong.hello">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 63.5 75">
                    <path d="M 18.8476,5.5855869e-5 C 18.7381,0.00105586 18.6355,0.02925586 18.5347,0.08515586 c -0.3307,0.18337 -0.4396,0.56338 -0.2557,0.89502 L 21.547,6.8838959 C 15.2596,10.155446 11.0128,16.372806 11.0044,23.508156 l 41.3756,0 C 52.365,16.372806 48.1248,10.155446 41.8374,6.8838959 L 45.105,0.98017586 c 0.1839,-0.33165 0.075,-0.71165 -0.2558,-0.89502 -0.1005,-0.0558 -0.2028,-0.084 -0.3124,-0.08510000413 C 44.302,-0.00294414 44.0794,0.11495586 43.9542,0.34088586 L 40.6435,6.3085659 c -2.7082,-1.20127 -5.746,-1.87546 -8.9515,-1.87546 -3.2055,0 -6.2429,0.67419 -8.9511,1.87546 L 19.4302,0.34088586 c -0.1245,-0.22596 -0.348,-0.34307 -0.5826,-0.340830004131 z M 22.1437,12.482166 c 0.9446,0 1.7265,0.78199 1.7265,1.72651 0,0.94452 -0.7819,1.72608 -1.7265,1.72608 -0.9445,0 -1.726,-0.78156 -1.726,-1.72608 0,-0.94452 0.7815,-1.72651 1.726,-1.72651 z m 19.0965,0 c 0.9444,0 1.7265,0.78199 1.7265,1.72651 0,0.94452 -0.7821,1.72608 -1.7265,1.72608 -0.9445,0 -1.7262,-0.78156 -1.7262,-1.72608 0,-0.94452 0.7817,-1.72651 1.7262,-1.72651 z M 4.6389,24.346556 c -2.5835,0 -4.6389,2.0555 -4.6389,4.63895 l 0,19.32377 c 0,2.58345 2.0554,4.63896 4.6389,4.63896 2.5834,0 4.639,-2.05551 4.639,-4.63896 l 0,-19.32377 c 0,-2.58345 -2.0556,-4.63895 -4.639,-4.63895 z m 54.1065,0 c -2.5835,0 -4.6389,2.0555 -4.6389,4.63895 l 0,19.32377 c 0,2.58345 2.0554,4.63896 4.6389,4.63896 2.5834,0 4.6395,-2.05551 4.6395,-4.63896 l 0,-19.32377 c 0,-2.58345 -2.0561,-4.63895 -4.6395,-4.63895 z m -47.741,0.79557 0,29.98736 c 0,2.77082 2.2304,5.00126 5.0012,5.00126 l 3.3177,0 0,10.23031 c 0,2.58345 2.0559,4.63894 4.6395,4.63894 2.5833,0 4.6389,-2.05549 4.6389,-4.63894 l 0,-10.23031 6.181,0 0,10.23031 c 0,2.58345 2.0555,4.63894 4.6389,4.63894 2.5835,0 4.6391,-2.05549 4.6391,-4.63894 l 0,-10.23031 3.3175,0 c 2.7708,0 5.0018,-2.23044 5.0018,-5.00126 l 0,-29.98736 -41.3756,0 z"
                    />
                </svg> Install app
            </a>

        </article>
    </div>
</section>
<section class="bot">
    <div class="container">
        <article class="left levels">
            <h2>There’s a <strong>belong</strong> group for all your
                neighbourhoods:</h2>
            <div class="illustration">
                <svg id="levels" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 495 160">
                    <defs id="defs7304">
                        <linearGradient id="a" y2="650.29" gradientUnits="userSpaceOnUse" x2="151.52" gradientTransform="matrix(.99933 0 0 .99933 -88.941 -645.59)"
                            y1="710.19" x1="151.52">
                            <stop id="stop7272" stop-color="#f9c" offset="0" />
                            <stop id="stop7274" stop-color="#f9c" stop-opacity="0" offset="1" />
                        </linearGradient>
                    </defs>
                    <g id="layer1" transform="translate(-63.761 -678.77)">
						<path d="m26.246 4.2656c-8.068 13.816-17.127 28.261-22.232 42.402-6.4552 17.881-6.5894 35.439 10.662 50.379 17.431 15.096 49.711 21.386 85.188 25.076 35.476 3.6905 74.807 4.9307 108.27 9.4141 33.011 4.4226 66.916 15.504 99.959 23.611 16.521 4.0535 32.878 7.3678 49.129 8.6094s32.52 0.33038 47.771-4.0723c15.407-4.4475 25.345-11.655 31.768-20.182 6.4222-8.5266 9.5088-18.439 11.398-28.814 3.7792-20.75 2.8345-43.467 11.68-59.973 8.9669-16.732 22.391-26.886 30.002-37.016 2.322-3.0904 3.9824-6.1976 4.7207-9.4355h-9.8301c-0.78082 2.5467-2.2688 5.0487-4.2441 7.6777-6.9934 9.3077-20.953 20.037-30.301 37.48-9.4697 17.671-8.2753 40.482-11.979 60.814-1.8516 10.166-4.9107 19.684-10.799 27.502-5.8882 7.8176-14.423 13.867-27.414 17.617-13.147 3.795-26.668 4.576-41.262 3.4609-14.594-1.115-30.137-4.2057-46.238-8.1562-32.2-7.9-66.43-19.21-101.77-23.95-34.89-4.67-74.37-5.9-108.82-9.48-34.452-3.58-63.21-9.38-78.57-22.681-15.539-13.458-15.736-29.666-9.48-46.994 5.114-14.167 14.502-28.955 22.806-43.289h-10.41z"
										transform="translate(63.761 674.51)" fill="url(#a)" />

						<path d="m399.33 744.63c-11.537 0-20.783 0.7008-27.539 3.4375-6.7563 2.7367-9.6133 7.2207-9.6133 13.14 0 5.8439 2.0062 11.319 7.5801 15.567 5.5739 4.2487 15.133 7.0088 27.572 7.0088 11.688 0 23.912-1.0004 33.781-3.6836 9.8697-2.6831 17.373-7.4475 17.373-13.893 0-6.3699-6.3855-11.863-15.594-15.632-9.2083-3.7687-21.272-5.9453-33.561-5.9453zm0 5c9.8873 0 19.902 1.8168 27.227 4.8145 7.3245 2.9976 11.928 7.0445 11.928 11.763 0 4.6431-4.4854 7.4168-12.148 9.5-7.663 2.0833-18.517 3.0762-29.006 3.0762-9.737 0-15.252-1.7333-19.211-4.751-3.9589-3.0176-5.9414-7.5809-5.9414-12.825 0-5.1691 2.1318-7.7242 5.9082-9.2539 3.7764-1.5296 10.605-2.3232 21.244-2.3232z"
										fill="#9fc" />

						<path d="m425.33 736.41c0 14.393-20 26.061-20 26.061s-20-11.668-20-26.061 8.9543-20 20-20 20 5.607 20 20z" stroke="#64b" stroke-miterlimit="10" stroke-width="3" fill="#fc9" />
					</g>
                </svg>
                <ul>
                    <li class="building">your <strong>apartment</strong></li>
                    <li class="locality">your <strong>locality</strong></li>
                    <li class="city">your <strong>city</strong></li>
                </ul>
            </div>
        </article>
        <article class="right uses">
            <h2>Things you can do on <strong>belong</strong>:</h2>
            <ul>
                <li class="football">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50">
                        <path d="M 25.00001,0 C 11.21537,0 0,11.21535 0,25 0,38.78465 11.21537,50 25.00001,50 38.78467,50 50,38.78465 50,25 50,11.21535 38.78467,0 25.00001,0 Z m 0,3.79484 c 3.66385,0 7.10832,0.92222 10.11154,2.54966 0.32195,0.91585 0.6099,1.98684 0.77083,2.92766 l 0.18901,1.15253 1.20071,0.88386 c 1.61074,1.16858 2.9367,2.33731 4.78431,4.16914 0.85275,0.85275 1.6119,1.54722 1.67507,1.54722 0.0868,0 0.39024,-0.22222 0.7208,-0.49104 1.1264,2.59207 1.75289,5.45392 1.75289,8.46613 0,2.30001 -0.36782,4.50981 -1.04136,6.58168 -0.47518,-2.08462 -1.48929,-4.89491 -1.96968,-5.01779 -0.0948,-0.0158 -0.97851,0.3794 -1.97338,0.90053 -0.99489,0.50533 -2.70151,1.29405 -3.79116,1.73622 -1.08962,0.44216 -1.98996,0.82077 -2.02156,0.85236 -0.0316,0.0158 -0.21991,0.91623 -0.441,1.99006 -0.44217,2.0845 -1.0583,4.53289 -1.6584,6.42788 -0.30004,0.99487 -0.31549,1.18371 -0.12598,1.31004 0.71815,0.45701 3.88057,1.37745 5.30312,1.59724 -3.66199,3.01603 -8.35795,4.82694 -13.48576,4.82694 -1.16496,0 -2.30537,-0.0983 -3.41869,-0.27795 0.85703,-1.15973 1.95302,-2.93568 1.95302,-3.33531 0,-0.12633 -0.30104,-0.40981 -0.68005,-0.64668 -1.15278,-0.7422 -4.07434,-3.07965 -5.59033,-4.46931 -1.61076,-1.48442 -1.62675,-1.501 -3.44279,-1.10621 -0.83696,0.1895 -3.26825,0.48982 -4.81582,0.60035 -0.53692,0.0316 -0.55324,0.0468 -0.50586,0.58369 0.0279,0.27553 0.14911,0.68978 0.31686,1.15809 C 5.92364,35.29881 4.09204,30.95796 3.83006,26.18774 4.19816,23.67177 4.87992,20.85482 5.26238,20.37318 5.37293,20.23106 5.37389,20.00907 5.24758,19.66165 5.10933,19.26068 4.9986,18.749 4.91406,18.1867 7.7447,9.80851 15.65165,3.79484 25.00003,3.79484 Z m -5.9665,6.75586 c -0.22108,0 -0.72629,0.3955 -1.45271,1.13771 -1.87921,1.94237 -5.02195,5.98497 -5.19566,6.71138 -0.0632,0.22108 0.0467,0.63174 0.252,1.02654 0.37899,0.74221 3.37938,5.28991 4.23213,6.4427 0.80537,1.08962 0.88418,1.11993 1.8159,0.83568 4.04265,-1.18437 9.08088,-2.79383 9.2388,-2.95175 0.23687,-0.23687 0.78984,-9.20724 0.60037,-9.93366 -0.079,-0.33162 -0.33257,-0.48898 -1.40641,-0.91535 -2.66879,-1.02646 -7.20009,-2.35325 -8.08442,-2.35325 z"
                        />
                    </svg>
                    <strong>find someone</strong> for
                    <br> weekday carpooling
                    <br> or weekend football</li>
                <li class="cupcake">
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="50">
                        <path d="m 20.265898,0.00804864 c -0.34489,0.03 -0.72649,0.23186 -0.93646,0.4558 -0.20997,0.22394 -0.28875,0.42849 -0.33498,0.57758996 -0.0925,0.2983 -0.075,0.44267 -0.0703,0.56843 0.0145,0.3854 0.0729,0.59045 0.14806,0.80096 -7.2e-4,-0.0121 0.002,-0.0325 0,-0.0406 l 0.0685,0.23989 c -0.0269,-0.0709 -0.0455,-0.13492 -0.0685,-0.19926 0.004,0.0636 0.001,0.16213 0.006,0.214 -0.58709,0.0233 -1.26816,0.12294 -2.01914,0.50012 -0.93968,0.45712 -1.51675,1.21726 -1.87294,1.95983 l -0.14805,0.30452 0.009,0.33959 c -0.007,-0.26192 0.006,-0.14211 -0.006,-0.0664 -0.008,0.0509 -0.0177,0.15185 -0.0278,0.24359 l -0.21469,0.54443 c -2.44504,0.85028 -5.1125298,1.66133 -7.5194698,3.35121 -3.63273,2.3184104 -6.25773,6.1064404 -7.00870003,10.3861004 l -0.006,0.035 -0.004,0.0369 c -0.26935,2.19623 -0.6576,5.00994 0.76251003,7.52561 0.33535,0.79397 0.95291,1.39764 1.56756,1.71993 0.62639,0.32853 1.223,0.44711 1.71562,0.54631 0.49262,0.0992 0.89251,0.18094 1.09192,0.25832 0.19942,0.0774 0.14432,0.0606 0.14991,0.072 l 0.0223,0.0461 c 1.24663,4.42554 2.55333,8.81743 3.76438,13.21698 l 0.0296,0.10516 0.0444,0.0997 c 0.40417,0.89913 0.47714,2.43546 1.3658498,4.0249 l 0.11845,0.21222 0.18322,0.16233 c 1.84226,1.61703 4.1592,1.50827 5.70392,1.67382 l 0.0519,0.006 0.0518,0.002 c 4.82639,0.16384 9.6125,-0.0104 14.34866,-0.0554 l 0.0389,0 0.037,-0.002 c 0.65163,-0.0411 1.55005,-0.0432 2.50587,-0.27496 0.95583,-0.23176 2.07768,-0.79576 2.69095,-1.93034 l 0.0907,-0.16421 0.0425,-0.18454 c 1.15273,-4.89766 2.12507,-9.81151 3.17955,-14.68036 l 0.009,-0.0388 0.006,-0.0369 c 0.0732,-0.45893 0.23768,-1.1278 0.39237,-1.79561 0.11615,-0.50154 0.21515,-0.99296 0.27389,-1.49478 0.16107,-0.13161 0.71749,-0.42792 1.60274,-0.84338 0.48973,-0.22988 1.04581,-0.51844 1.5583,-1.0058 0.50976,-0.4847 0.93976,-1.20724 1.07898,-2.04287 1.07887,-5.58177 -1.24733,-11.58048 -5.90382,-14.90184 -3.05319,-2.3136904 -6.6491,-3.6264704 -10.26041,-4.3496704 l -0.1314,-0.0258 -0.13325,-0.002 c -0.28985,-0.003 -0.5763,-0.13331 -0.65145,-0.20115 -0.002,-0.002 -0.002,-4.7e-4 -0.004,-0.002 l 0.1351,-0.21779 -0.1203,-0.55548 c -0.1528,-0.71007 -0.39149,-1.67071 -1.16411,-2.49132 -0.73243,-0.8533 -1.80796,-1.08572 -2.62987,-1.06115 -0.52329,-9.6e-4 -1.16651,0.1092 -1.82297,0.35252 -0.0437,-0.23944 -0.0295,-0.47215 -0.0963,-0.71234 l -0.074,-0.26578996 -0.16656,-0.21768 c -0.0852,-0.11093 -0.16988,-0.21809 -0.33128,-0.35434 -0.16139,-0.13634 -0.4299,-0.42746 -1.11969,-0.36726 z m 6.39611,8.52214996 c 0.44572,0.2076 0.91197,0.34894 1.39728,0.38759 -0.0148,-0.003 -0.0296,-0.006 -0.0444,-0.009 l 0.26463,0.0277 c -0.0744,-7.5e-4 -0.14674,-0.0126 -0.22024,-0.0185 3.30784,0.66735 6.47708,1.8544704 9.0741,3.8274404 l 0.0186,0.0129 0.0186,0.0129 c 3.69863,2.62964 5.64954,7.64476 4.77671,12.10043 l -0.004,0.0222 -0.004,0.0221 c -0.0396,0.24358 -0.0922,0.31653 -0.2406,0.45769 -0.14841,0.14117 -0.42679,0.31246 -0.80691,0.49085 -0.45502,0.21364 -1.05879,0.49436 -1.6638,0.89686 -0.004,-0.002 -0.007,-0.005 -0.0111,-0.007 -0.49518,-0.26578 -1.02772,-0.37085 -1.56941,-0.382 0.0584,0.0216 0.0813,0.0388 0.16286,0.0646 l -0.50339,-0.0646 c 0.11382,-0.006 0.22727,-0.002 0.34053,0 -0.25186,-0.0931 -0.36527,-0.16469 -0.53486,-0.3118 -0.20886,-0.18123 -0.57697,-0.56541 -1.19186,-0.95601 l -0.41272,-0.26202 -0.48489,0.0461 c -0.66364,0.0629 -1.08981,0.38513 -1.38804,0.63855 -0.29821,0.2534 -0.50919,0.49199 -0.69588,0.68095 -0.33602,0.34015 -0.46183,0.38786 -0.45157,0.39675 -0.99036,3.7e-4 -2.00524,0.005 -3.11106,0.0259 -0.5302,-0.16099 -0.92969,-0.42149 -1.22149,-0.84338 0.0302,0.0537 0.0633,0.10904 0.0888,0.16054 l -0.0981,-0.1698 c 0.003,0.004 0.007,0.006 0.009,0.009 -0.0756,-0.13416 -0.16755,-0.27296 -0.33126,-0.42999 -0.22908,-0.21968 -0.6945,-0.47556 -1.18817,-0.44654 -0.49367,0.029 -0.81903,0.26975 -0.9957,0.43359 -0.17666,0.16393 -0.2607,0.29158 -0.32942,0.39683 -0.12207,0.1869 -0.17517,0.29424 -0.21284,0.36171 l -0.0241,0.024 c -0.36892,0.35215 -0.86402,0.56559 -1.40099,0.67907 -0.27303,0.0112 -0.53179,0.0158 -0.80507,0.0277 -0.1826,0.008 -0.35423,0.0213 -0.5367,0.0296 -0.8603,-0.10129 -1.6916,-0.442 -2.22273,-1.01686 l -0.0315,0.0221 c -0.14734,-0.2212 -0.27188,-0.44219 -0.61628,-0.74739 -0.0915,-0.0811 -0.19844,-0.17716 -0.41456,-0.28053 -0.21612,-0.10327 -0.63142,-0.2482 -1.14744,-0.0701 -0.51606,0.17811 -0.82297,0.64705 -0.91982,0.92275 -0.0206,0.0586 -0.008,0.0773 -0.0204,0.12738 -0.1159,0.31766 -0.495,0.6717 -1.00125,0.8618 -1.11707,0.41914 -2.50832,0.42169 -3.48491,-0.0222 -0.51056,-0.38729 -0.73029,-0.52467 -1.21038,-1.0076 l 0.1129,0.12737 c -0.24793,-0.31765 -0.87373,-0.76722 -1.5638598,-0.66622 -0.69013,0.10101 -0.96438,0.48379 -1.12154,0.69022 -0.31432,0.41282 -0.48559,0.74483 -0.29981,0.50381 l -0.11845,0.15496 -0.074,0.18083 c -0.0181,0.045 -0.20043,0.19559 -0.83283,0.5297 -0.24257,0.12812 -0.53746,0.30462 -0.84022,0.54253 -0.0311,-0.0137 -0.0638,-0.0343 -0.0944,-0.0461 -0.59104,-0.22932 -1.12144,-0.3066 -1.56015,-0.39494 -0.43875,-0.0883 -0.77766,-0.18567 -0.95498,-0.27864 -0.17734,-0.093 -0.20757,-0.11103 -0.28502,-0.30265 l -0.0407,-0.10336 -0.0574,-0.0941 c -0.88431,-1.47597 -0.7237,-3.63308 -0.45343,-5.8482 0.61365,-3.44666 2.79021,-6.59493 5.7613,-8.47974 l 0.0296,-0.0184 0.0278,-0.0203 c 1.9649798,-1.38516 4.4321198,-2.1554104 6.9883298,-3.0541604 0.1098,0.15703 0.0936,0.29781 0.32757,0.43549 0.0675,0.0398 0.12688,0.0189 0.19063,0.0112 0.34071,0.32427 0.7184,0.6603504 1.1715,0.9669604 0.89973,0.72953 1.88902,0.9322 2.78904,0.98916 0.0836,0.0106 0.16904,0.0132 0.25355,0.0203 0.0972,0.003 0.19661,0.0144 0.29057,0.0147 0.19498,0.007 0.39164,0.002 0.59037,-0.0111 0.0932,-0.003 0.20149,-0.003 0.28872,-0.006 1.90106,0.0351 3.5109,-1.01742 4.5065,-2.3861404 l 0.0186,-0.0258 0.0186,-0.0277 c 0.10434,-0.15835 0.21773,-0.33466 0.33129,-0.526 z"
                        />
                    </svg> sell homemade cupcakes
                    <br> or sell your unused oven</li>
                <li class="weather">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50">
                        <path d="M 24.99805,0 C 18.36407,0 12.75372,4.526 10.98047,10.7012 10.46614,10.6132 9.94356,10.5645 9.41406,10.5645 4.22476,10.5645 0,14.8616 0,20.1387 0,25.421 4.22476,29.711 9.41406,29.711 l 31.17774,0 c 5.1893,0 9.4132,-4.29 9.4082,-9.5723 0,-5.2771 -4.22476,-9.5742 -9.41406,-9.5742 -0.53104,0 -1.05546,0.049 -1.57227,0.1367 C 37.23984,4.5286 31.63137,0 24.99805,0 Z m 0.004,3.295 c 6.27105,0 11.36914,5.1886 11.36914,11.5605 0,0.9133 0.72499,1.6504 1.62305,1.6504 0.89294,0 1.61633,-0.7423 1.61133,-1.6504 0,-0.306 -0.0269,-0.6048 -0.0449,-0.9062 0.33727,-0.058 0.67947,-0.09 1.02539,-0.09 3.4034,0 6.17383,2.8183 6.17383,6.2793 0,3.461 -2.77043,6.2774 -6.17383,6.2774 l -31.17188,0 c -3.40341,0 -6.17383,-2.8164 -6.17383,-6.2774 0,-3.461 2.77042,-6.2793 6.17383,-6.2793 0.34502,0 0.68464,0.031 1.01953,0.088 -0.0181,0.3019 -0.0449,0.6018 -0.0449,0.9082 0,0.9133 0.725,1.6504 1.62305,1.6504 0.89806,0 1.62305,-0.7371 1.62305,-1.6504 0,-6.3771 5.09614,-11.5605 11.36718,-11.5605 z M 12.23252,31.6993 c -0.41458,0 -0.82817,0.1607 -1.14453,0.4824 L 5.5001,37.8633 c -0.63272,0.6434 -0.63272,1.6867 0,2.3301 0.31636,0.3217 0.73514,0.4824 1.14844,0.4824 0.41331,0 0.83207,-0.1607 1.14844,-0.4824 l 5.58203,-5.6816 c 0.63272,-0.6435 0.63272,-1.6867 0,-2.3301 C 13.06265,31.86 12.6471,31.6993 12.23252,31.6993 Z m 9.78711,0 c -0.41458,0 -0.82817,0.1607 -1.14453,0.4824 l -5.58789,5.6816 c -0.63272,0.6434 -0.63272,1.6867 0,2.3301 0.31636,0.3217 0.73513,0.4824 1.14844,0.4824 0.4133,0 0.83207,-0.1607 1.14843,-0.4824 l 5.58204,-5.6816 c 0.63272,-0.6435 0.63272,-1.6867 0,-2.3301 -0.31636,-0.3217 -0.7319,-0.4824 -1.14649,-0.4824 z m 9.21485,0 c -0.41459,0 -0.82818,0.1607 -1.14454,0.4824 L 17.1544,45.336 c -0.63272,0.6434 -0.63272,1.6847 0,2.3281 0.31635,0.3217 0.73512,0.4824 1.14843,0.4824 0.41331,0 0.82698,-0.1607 1.14844,-0.4824 L 32.38096,34.5118 c 0.63272,-0.6435 0.63272,-1.6867 0,-2.3301 -0.31636,-0.3217 -0.7319,-0.4824 -1.14648,-0.4824 z m 9.21093,0 c -0.41458,0 -0.82817,0.1607 -1.14453,0.4824 l -5.58398,5.6816 c -0.63272,0.6434 -0.63272,1.6867 0,2.3301 0.31636,0.3217 0.73512,0.4824 1.14843,0.4824 0.4133,0 0.83208,-0.1607 1.14844,-0.4824 l 5.57813,-5.6816 c 0.63272,-0.6435 0.63272,-1.6867 0,-2.3301 C 41.27554,31.86 40.85999,31.6993 40.44541,31.6993 Z M 12.2794,41.0235 c -0.41459,0 -0.83013,0.1607 -1.14649,0.4824 l -5.58593,5.6816 c -0.63273,0.6435 -0.63272,1.6867 0,2.3301 C 5.86334,49.8393 6.2821,50 6.69541,50 c 0.4133,0 0.82622,-0.1607 1.14258,-0.4824 l 5.58789,-5.6816 c 0.63272,-0.6434 0.63272,-1.6867 0,-2.3301 -0.31635,-0.3217 -0.7319,-0.4824 -1.14648,-0.4824 z m 18.95117,0.051 c -0.41459,0 -0.83013,0.1607 -1.14649,0.4824 l -2.20312,2.2422 c -0.63272,0.6434 -0.63272,1.6866 0,2.33 0.31636,0.3218 0.73513,0.4825 1.14844,0.4825 0.41841,0 0.83132,-0.1607 1.14258,-0.4825 L 32.3751,43.887 c 0.63271,-0.6435 0.63271,-1.6867 0,-2.3301 -0.31636,-0.3217 -0.72995,-0.4824 -1.14453,-0.4824 z"
                        />
                    </svg>
                    <strong>discuss</strong> a recent movie
                    <br> or complain about the weather</li>
                <li class="burger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="45">
                        <path d="M 25.002565,0 C 11.699895,0 0.76241471,10.4419 0.00256471,23.5567 a 1.500215,1.500215 0 0 0 1.49803999,1.5879 l 4.23047,0 a 1.500215,1.5485127 0 0 0 -1.40039,0.9961 c -0.15123,0.4072 -0.26172,0.9054 -0.26172,1.4609 0,0.5599 0.10926,1.1097 0.32031,1.6172 a 1.500215,1.5485127 0 0 0 1.37891,0.9375 l 38.4648403,0 a 1.500215,1.5485127 0 0 0 1.38086,-0.9414 c 0.20787,-0.5033 0.31836,-1.0507 0.31836,-1.6133 0,-0.5581 -0.11034,-1.0559 -0.25781,-1.457 a 1.500215,1.5485127 0 0 0 -1.38867,-1 l 4.21484,0 a 1.500215,1.500215 0 0 0 1.49805,-1.5879 C 49.743065,19.1698 48.336905,14.9371 45.899045,11.25 41.245595,4.2112 33.424135,0 25.002565,0 Z m 0,3 c 7.42314,0 14.28718,3.6944 18.39257,9.9043 1.84671,2.7931 2.86913,5.9623 3.30469,9.2403 l -43.4531203,0 C 4.6719247,11.3661 13.820735,3 25.002565,3 Z m -8.00196,4.5743 a 2.5,2.5 0 0 0 -2.5,2.5 2.5,2.5 0 0 0 2.5,2.5 2.5,2.5 0 0 0 2.5,-2.5 2.5,2.5 0 0 0 -2.5,-2.5 z m 16,0 a 2.5,2.5 0 0 0 -2.5,2.5 2.5,2.5 0 0 0 2.5,2.5 2.5,2.5 0 0 0 2.5,-2.5 2.5,2.5 0 0 0 -2.5,-2.5 z m -8,2 a 2.5,2.5 0 0 0 -2.5,2.5 2.5,2.5 0 0 0 2.5,2.5 2.5,2.5 0 0 0 2.5,-2.5 2.5,2.5 0 0 0 -2.5,-2.5 z M 1.5025647,30.1582 A 1.500215,1.500215 0 0 0 0.00451471,31.752 c 0.3686,5.908 3.35596999,9.6063 7.83397999,11.3477 C 12.316505,44.8408 18.136025,45 25.002565,45 c 5.03832,0 9.76253,-0.1014 13.79101,-0.9668 4.02847,-0.8653 7.48505,-2.5747 9.41992,-5.8632 1.05695,-1.7992 1.62791,-3.9382 1.78321,-6.4161 a 1.500215,1.500215 0 0 0 -1.49805,-1.5937 l -46.9960903,0 0,0 z m 1.75781,3 43.4902303,0 c -0.23008,1.3464 -0.56944,2.5446 -1.125,3.4903 l 0.002,0 c -1.37957,2.3447 -3.86819,3.679 -7.4629,4.4512 -3.59469,0.772 -8.16949,0.9003 -13.1621,0.9003 -6.80442,0 -12.39408,-0.2635 -16.0761803,-1.6953 -3.23895,-1.2594 -5.04418,-3.2526 -5.66601,-7.1465 z"
                        />
                    </svg> find a good cook
                    <br> or a nice place to order in</li>
                <li class="heart">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="45">
                        <path d="m 13.35547,0.03725926 c -3.26301,-0.23109 -6.60339,0.60301 -9.15625,2.77539004 C 1.64636,4.9850393 0,8.4802593 0,13.093899 c 0,8.85398 4.02339,16.77016 9.07617,22.49219 5.05279,5.72203 11.02182,9.41406 15.92383,9.41406 4.90201,0 10.86909,-3.69203 15.92188,-9.41406 C 45.97466,29.864059 50,21.947879 50,13.093899 50,8.4802593 48.35364,4.9850393 45.80078,2.8126493 43.24792,0.64026926 39.90754,-0.19383074 36.64453,0.03725926 c -3.26301,0.23109 -6.4973,1.51322004 -8.97461,3.73828004 -1.07703,0.96737 -1.96421,2.15612 -2.66992,3.47266 -0.7057,-1.31654 -1.59289,-2.50529 -2.66992,-3.47266 -2.47731,-2.22506 -5.7116,-3.50719004 -8.97461,-3.73828004 z M 13.14453,3.0294493 c 2.61199,0.18498 5.2527,1.24599 7.18164,2.97851 C 22.25511,7.7404893 23.5,10.083679 23.5,13.093899 l 3,0 c 0,-3.01022 1.24489,-5.3534097 3.17383,-7.0859397 1.92894,-1.73252 4.56965,-2.79353 7.18164,-2.97851 2.61199,-0.18498 5.14661,0.49119 7,2.06836 C 45.70886,6.6749793 47,9.1682593 47,13.093899 c 0,7.93867 -3.66133,15.22511 -8.32617,20.50782 -4.66485,5.2827 -10.44635,8.39843 -13.67383,8.39843 -3.22747,0 -9.00898,-3.11573 -13.67383,-8.39843 C 6.66133,28.319009 3,21.032569 3,13.093899 3,9.1682593 4.29114,6.6749793 6.14453,5.0978093 c 1.85339,-1.57717 4.38801,-2.25334 7,-2.06836 z"
                        />
                    </svg>
                    <strong>come together</strong> to make
                    <br> your neighborhood better</li>
            </ul>
        </article>
        <footer>
            &copy; Belong.
        </footer>
    </div>
</section>
